.card{
    height: 400px;
    width: 100%;
    border: 1px solid black;
display: flex;
justify-content: space-around;
}
.cardbox{
height: 400px;
width: 30%;
border: 1px solid black;
border-radius: 3px;
}
.cardbox h1{
    border: 1px solid black;
    height: 100px;
    width: 20%;
}
